{#{% use 'admin/blocks.html.twig' %}#}

{% extends 'AdminBundle:default:index.html.twig' %}

{% form_theme form 'admin/fields.html.twig' %}

{% block menu_swd_admin_user %}active{% endblock %}
{% block menu_swd_admin_user_list %}active{% endblock %}

{% block page_title %}Users{% endblock %}

{% block body %}

    <form action="{{ path('swd_admin_user', {'id': id}) }}" method="post" id="userForm">
        <div class="card">
            <div class="header">
                <h2>User Form</h2>
            </div>
            <div class="body">
                {{ form_row(form.username) }}
                {{ form_rest(form) }}
            </div>
        </div>
    </form>

{% endblock %}
