{% extends 'AdminBundle:default:index.html.twig' %}

{% block menu_swd_admin_user %}active{% endblock %}
{% block menu_swd_admin_user_list %}active{% endblock %}

{% block page_title %}Users{% endblock %}

{% block body %}

    <div id="userGrid" style="width: 100%; height: 400px;"></div>
    <script>
        $(function () {
            $('#userGrid').w2grid({
                name: 'userGrid',
                url: "{{ path('swd_admin_get_user_list') }}",
                show: {
                    toolbar: true,
                    footer: true,
                    selectColumn: true,
                    toolbarDelete: true,
                    toolbarAdd: true,
                },
                multiSearch: true,
                searches: [
                    { field: 'all', caption: 'All', type: 'text' }
                ],
                columns: [
                    { field: 'recid', caption: 'ID', size: '30px', sortable: true, attr: 'align="center"' },
                    { field: 'name', caption: 'Name', size: '20%', sortable: true },
                    { field: 'username', caption: 'Username', size: '30%', sortable: true },
                    { field: 'rolesString', caption: 'Roles', size: '30%', sortable: true },
//                    { field: 'createdDateTimeFormat', caption: 'Created', size: '10%', sortable: true },
                    { field: 'updatedDateTimeFormat', caption: 'Updated', size: '10%', sortable: true }
                ],
                onAdd: function (event) {
                    console.log(event);
                    var url = $('#swd_admin_user').html();
                    url = url.replace("id", 0);
                    console.log(url);
                    window.location.href = url;
                },
                onDelete: function (event) {
                    //selected = w2ui.userGrid.getSelection();
                    //console.log(selected);
                },
                onDblClick: function(event) {
                    console.log(event);
                    var url = $('#swd_admin_user').html();
                    url = url.replace("id", event.recid);
                    console.log(url);
                    window.location.href = url;
                }
            });
        });
    </script>
    <div id="swd_admin_user" style="display: none;">{{ path('swd_admin_user', {'id': 'id'}) }}</div>
    <div id="swd_admin_user_form"></div>

{% endblock %}
