{% extends 'AdminBundle:default:index.html.twig' %}

{% block menu_swd_admin_user %}active{% endblock %}
{% block menu_swd_admin_user_list %}active{% endblock %}

{% block page_title %}Users{% endblock %}

{% block body %}

    <div id="userGrid"></div>
    <script>
        $(document).ready(function () {
            $("#userGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "{{ path('swd_admin_get_user_list') }}",
                            dataType: "jsonp"
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: false,
                    buttonCount: 5
                },
                columns: [{
                    field: "username",
                    title: "User",
                    width: 240,

                },
                {
                    field: "rolesString",
                    title: "Roles",
                    width: 240,
                },
                {
                    type: "datetime",
                    field: "createdDateTime",
                    title: "Created",
                    template: "#= kendo.toString(kendo.parseDate(createdDateTime), '{{ dateTimeFormat }}') #"
                }]
            });
        });
        $("#userGrid").delegate("tbody>tr", "dblclick", function(){
            var item = $("#userGrid").data("kendoGrid").dataItem($(this))
            var url = $('#swd_admin_user').html();
            url = url.replace("id", item.id);
            console.log(url);

            var form = $("#swd_admin_user_form")

            if (!form.data("kendoWindow"))
            {
                form.kendoWindow({
                    content: url,
                    title: "User Form",
                    actions: ["Custom", "Pin", "Refresh", "Maximize", "Minimize", "Close"],
                    draggable: false,
                    height: "300px",
                    modal: true,
                    pinned: false,
                    position: {
                        top: 100,
                        left: 100
                    },
                    resizable: false,
                    width: "500px"
                });
            }

            var formObject = form.data("kendoWindow");
            formObject.refresh({
                url: url
            });
            formObject.open().center();
            formObject.maximize();
        });
    </script>
    <div id="swd_admin_user" style="display: none;">{{ path('swd_admin_user', {'id': 'id'}) }}</div>
    <div id="swd_admin_user_form"></div>

{% endblock %}
