{% extends 'AdminBundle:default:index.html.twig' %}

{% block menu_swd_admin_user %}active{% endblock %}
{% block menu_swd_admin_user_list %}active{% endblock %}

{% block page_title %}Users{% endblock %}

{% block body %}

    <div id="userGrid"></div>
    <script>
        $(document).ready(function () {
            $("#userGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "{{ path('swd_admin_get_user_list') }}",
                            dataType: "jsonp"
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: false,
                    buttonCount: 5
                },
                columns: [{
                    field: "username",
                    title: "User",
                    width: 240,

                },
                {
                    field: "created.timestamp",
                    title: "Created",
                    format: "{0:MM/dd/yyyy}"
                }]
            });
        });
    </script>

{% endblock %}
